* {
    margin: 0;
    padding: 0;
}

.main {
    background-image: linear-gradient(to bottom, #a5cfc5, rgb(14, 85, 55) ) ;
    margin: 1rem 3rem;
    padding: 2rem;
    height: 100vh;
    position: relative;
}

.heading {
    text-transform: uppercase;
    color: rgb(72, 141, 68);
    text-align: center;
    margin-top: 1rem;
}
h1 {
    background-image: linear-gradient(to right, #42b494, rgb(14, 85, 55));
    -webkit-background-clip: text;
    color: transparent;
    font-size: 3rem;
    text-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.carousel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
}

.carousel-inner {
    box-shadow: 0 0 4rem rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    height: 25.25rem;
}
img {
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
}
.carousel-indicators {
    margin-bottom: -1px;
}

.carousel-indicators li {
    width:10px;
	height:10px; 
	-moz-transform:rotate(45deg) skew(10deg, 10deg);
	-webkit-transform:rotate(45deg) skew(10deg, 10deg);
	-ms-transform:rotate(45deg) skew(10deg, 10deg);
	-o-transform:rotate(45deg) skew(10deg, 10deg);
    transform:rotate(45deg) skew(10deg, 10deg);
    margin-right: 5px;
    margin-left: 5px;
}
.carousel-caption {
    width: 100%;
    right: 0;
    left: 0;
    text-transform: uppercase;
    color: rgb(21, 41, 21);
    font-weight: 500;
    background-color: rgba(222, 231, 229, 0.6);
    border-radius: 3px;
    box-shadow: 3rem 3rem 6rem rgba(0, 0, 0, 0.1);
}